<launch>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="-1.0"/>
  <arg name="z_pos" default="0.07"/>
  <arg name="gui" default="true"/>

  <!--sunny-->
  <param name="robot_description" command="$(find xacro)/xacro '$(find xju_simu)/urdf/xju_model.urdf.xacro'"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
   <param name="publish_frequency" type="double" value="50.0" />
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
   <param name="use_gui" value="false" />
  </node>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find xju_simu)/worlds/traffic.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"
        args="-urdf -model sunny -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

  <!--node pkg="xju_simu" type="xju_bridge_node" name="xju_bridge" /-->
</launch>
