<?xml version="1.0"?>
<launch>
  <arg name="map2d" default="$(find xju_slam)/map/apartment.yaml"/>
  <arg name="map3d" default="$(find xju_slam)/map/apartment.bt"/>
  <arg name="rviz" default="true"/>

  <node pkg="xju_slam" type="xju_relocation" name="xju_relocation" output="screen"/>
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map2d)"/>

  <!-- Visualization -->
  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find xju_slam)/rviz/amcl3d.rviz"/>
  </group>

  <include file="$(find xju_slam)/launch/amcl3d.launch">
    <arg name="map_name_path"   value="$(arg map3d)"/>
    <arg name="init_x"          value="0.0"/>
    <arg name="init_y"          value="0.0"/>
    <arg name="init_z"          value="-0.61"/>
    <arg name="init_a"          value="0.0"/>
    <arg name="num_particles"   value="600"/>
    <arg name="alpha"           value="0.5"/>
    <arg name="take_off_height" value="-1.0"/>
  </include>

</launch>
