<launch>
    <arg name="map" default="$(find xju_slam)/map/simple.yaml"/>
    <arg name="rviz" default="true"/>

    <param name="use_sim_time" value="true"/>
    <node pkg="xju_slam" type="xju_relocation" name="xju_relocation" output="screen"/>
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map)"/>
    <include file="$(find xju_slam)/launch/amcl_diff.launch"/>

    <group if="$(arg rviz)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find xju_slam)/rviz/slam.rviz" />
    </group>
</launch>
